{% extends 'Falcon/base2.html' %}
{% load staticfiles %}
{% block link %}
  <link rel="stylesheet" href="{% static "Beginner/css/casting.css" %}"/>
  <link rel="stylesheet" href="{% static "Falcon/css/base2.css" %}"/>
  <link rel="stylesheet" href="{% static "Falcon/css/media-queries.css" %}">
  <script type="text/javascript" src="{% static 'Falcon/js/base.js' %}"></script>

{% endblock %}

{% block beginner %}
<a href="{% url 'Beginner:string' %}">
    <input type="button" class="btn btn-primary next" value="Next Topic"></a><br><br>

  <h2>Casting</h2>
  
<p>
    Python defines type conversion functions to directly convert one data type to another which is useful in day to day and competitive programming.<br><br>
    The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.
</p>
<ol>
  <li>Implicit Type Conversion </li>
  <li>Explicit Type Conversion</li>
</ol>

<h2>Implicit Type Conversion</h2>
<p>In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.</p>
<p>Let's see an example where Python promotes conversion of lower datatype (integer) to higher data type (float) to avoid data loss.</p>

<iframe src="https://paiza.io/projects/e/tyCaqO1NNB9PMJenvT41PA?theme=github" width="98%" height="500" scrolling="no" seamless="seamless"></iframe>

<p>In the above program we can see the num_new has float data type because Python always converts smaller data type to larger data type to avoid the loss of data.</p>

<h2>Explicit Type Conversion</h2>

<p>
    In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like int(), float(), str(), etc to perform explicit type conversion.
</p>
<br><h4>Casting in python is therefore done using constructor functions:</h4>
<ul>
  <li>int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number).</li>
  <li>float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer).</li>
  <li>str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals.</li>
</ul>
<iframe src="https://paiza.io/projects/e/22Ysw97tkEM48Bi2JKaCMw?theme=github" width="98%" height="500" scrolling="no" seamless="seamless"></iframe>



<br>
<br>
<a href="{% url 'Beginner:numeric' %}">
    <input type="button" class="btn btn-primary previous" value="Pervious Topic"></a>
  <a href="{% url 'Beginner:string' %}">
    <input type="button" class="btn btn-primary next" value="Next Topic"></a><br><br>

{% endblock %}
