{% extends 'Falcon/base2.html' %}
{% load staticfiles %}
{% block link %}
  <link rel="stylesheet" href="{% static "Beginner/css/hello_world.css" %}"/>
  <link rel="stylesheet" href="{% static "Falcon/css/base2.css" %}"/>
  <link rel="stylesheet" href="{% static "Falcon/css/media-queries.css" %}">
  <script type="text/javascript" src="{% static 'Falcon/js/base.js' %}"></script>

{% endblock %}

{% block beginner %}
<a href="{% url 'Beginner:varibles' %}">
  <input type="button" class="btn btn-primary next" value="Next Topic"></a><br><br>
  <h2>Hello World!</h2>
  <p>Python is a very simple language, and has a very straight forward syntax. It encourages
    programmers to program without boilerplate (prepared) code. The simplest directive in Python
    is the "print" directive - it simply prints out a line (and also includes a newline, unlike in C).
    <br>
    There are two major Python versions,<span class="purple"> Python 2</span> and<span class="purple"> Python 3</span>. <span class="purple">Python 2
    </span> and <span class="purple">3</span> are quite different.
    This tutorial uses <span class="purple">Python 3</span>, because it more semantically correct and supports newer features.
    <br>
    For example, one difference between <span class="purple">Python 2</span> and <span class="purple">3
     </span>is the print statement. In<span class="purple"> Python 2</span>, the "print"
    statement is not a function, and therefore it is invoked without parentheses. However, in<span class="purple"> Python 3</span>, it
    is a function, and must be invoked with parentheses.
  </p>
    <h3>To print a string in <span class="purple">Python 3</span>, just write:</h3>
    <iframe src="https://paiza.io/projects/e/kRQ4yiOPcslDm6knKilknw?theme=github" width="100%" height="500" scrolling="no" seamless="seamless"></iframe>    <br>
    

  
  <a href="{% url 'Beginner:environment_setup' %}">
    <input type="button" class="btn btn-primary previous" value="Pervious Topic"></a>
  <a href="{% url 'Beginner:varibles' %}">
    <input type="button" class="btn btn-primary next" value="Next Topic"></a><br><br>

{% endblock %}
